<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Edit Peserta</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <style>
            .error {
                color: red;
                font-weight: bold;
            }
        </style>
    </head>
    <body>
      <div class="container" th:fragment="content">  
        <h1>Form</h1>
        <form action="#" th:action="@{/person/form}" th:object="${person}" method="post">
            <table border="0">
                <tbody>
                    <tr>
                        <td>Nama Depan</td>
                        <td><input type="text" th:field="*{firstName}" /></td>
                        <td><td class="error" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">Firstname</td></td>
                    </tr>
                    <tr>
                        <td>Nama Belakang</td>
                        <td><input type="text" th:field="*{lastName}" /></td>
                        <td><td class="error" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">LastName</td></td>
                    </tr>
                    <tr>
                        <td>Alamat</td>
                        <td><input type="text" th:field="*{address}" /></td>
                        <td><td class="error" th:if="${#fields.hasErrors('address')}" th:errors="*{address}">Address</td></td>
                    </tr>
                    <tr>
                        <input type="hidden" th:field="*{id}" />
                        <td><button type="submit">Submit</button></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </form>
      </div>
    </body>
</html>
